{% extends "shop/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block styles %}
<link rel="stylesheet" href="{% static "css/nicepage.css" %}">
<link rel="stylesheet" href="{% static "css/Оплата.css" %}">
{% endblock %}

{% block title %}
Оплата товара
{% endblock %}
{% block content %}
    <section class="u-clearfix u-section-1" id="sec-b86e">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <p class="u-align-center u-text u-text-default u-text-1">Оплата товара</p>
        <p class="u-align-center u-text u-text-default u-text-2">Заполните следующую форму и нажмите кнопку "Оплатить".</p>
      </div>
        <div class="u-clearfix u-sheet u-sheet-1">
        <img class="u-align-center u-image u-image-default u-image-1" style="max-width: 800px;" src="{% if cart_product.product.image %}{{ cart_product.product.image.url }}
{% else %}{% static "img/no_photo.jpg" %}{% endif %}" alt="" data-image-width="5616" data-image-height="3744">
        <p class="u-align-left u-text u-text-default u-text-1">{{ cart_product.product.name }}</p>
        <p class="u-align-right u-text u-text-default u-text-2">Цена за единицу товара: {{ cart_product.price }} руб.</p>
            <p class="u-text u-text-default">Общая цена: {{ overall_cost }} руб.</p>
            <form action="{% url 'cart:cart_add' cart_product.product.id %}" method="post">
            {{ quantity_form }}
          <input type="submit" value="Изменить количество" class="u-border-none u-btn u-btn-round u-button-style u-palette-4-base u-radius-50 u-btn-1">
       {% csrf_token %}
          </form>
    </div>
    </section>

    <section class="u-clearfix u-section-2" id="sec-8534">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-center u-form u-form-1">
          <form action="{% url 'order:create_order' cart_product.id %}" method="post" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px;">
            <div class="u-form-group u-form-select u-form-group-1">
                <label for="{{ pay_form.delivery.id_for_label }}" class="u-label">Выберите место доставки</label>
                {{ pay_form.delivery|add_class:'u-input'|add_class:'u-input-rectangle' }}
<!--              <label for="select-a07f" class="u-label">Выберете способ оплаты</label>-->
<!--              <div class="u-form-select-wrapper">-->
<!--                <select id="select-a07f" name="pay" class="u-input u-input-rectangle" required="required">-->
<!--                  <option value="0" data-calc="0">Оплата банковской картой</option>-->
<!--                  <option value="1" data-calc="1">Оплата наличными при получении</option>-->
<!--                </select>-->
<!--                <svg class="u-caret u-caret-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="fill:currentColor;" xml:space="preserve"><polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>-->
<!--              </div>-->
            </div>
            <div class="u-form-group u-form-select u-form-group-2">
                <label for="{{ pay_form.payment.id_for_label }}" class="u-label">Выберите способ оплаты</label>
                {{ pay_form.payment|add_class:'u-input'|add_class:'u-input-rectangle' }}
<!--              <label for="select-e0d9" class="u-label">Выберете способ получения товара</label>-->
<!--              <div class="u-form-select-wrapper">-->
<!--                <select id="select-e0d9" name="get" class="u-input u-input-rectangle" required="required">-->
<!--                  <option value="0" data-calc="0">Доставка на дом</option>-->
<!--                  <option value="1" data-calc="1">Доставка в пункт выдачи</option>-->
<!--                  <option value="2" data-calc="2">Доставка в постамат</option>-->
<!--                </select>-->
<!--                <svg class="u-caret u-caret-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="fill:currentColor;" xml:space="preserve"><polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>-->
<!--              </div>-->
            </div>
              {% csrf_token %}
            <div class="u-align-center u-form-group u-form-submit">
<!--              <a href="#" class="u-btn u-btn-submit u-button-style">Оплатить</a>u-form-control-hidden-->
              <input type="submit" value="Оплатить" class="u-btn u-btn-submit u-button-style">
            </div>

          </form>
        </div>
      </div>
    </section>
{% endblock %}
