.u-section-1 .u-sheet-1 {
  min-height: 750px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 380px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1.875rem;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 10px 111px;
}

.u-section-1 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: 20px auto 60px 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1428px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 360px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1295px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 227px;
  }
}.classbaida {
	display: none !important;
}